.root {
    -fx-font: bold 13.0px "System";
}

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Style for text fields */
.tf {
    -fx-pref-height: 30px;
    -fx-pref-width: 250px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.tf:focused {
    -fx-border-color: #4b5c6b;
    -fx-background-color: #f2f2f2;
}

.cb {
    -fx-pref-height: 30px;
    -fx-pref-width: 250px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-padding: 5px;

}

.cb:focused {
    -fx-border-color: #4b5c6b;
    -fx-background-color: #f2f2f2;
}

.btn {
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-background-color: #4b5c6b;
    -fx-alignment: center;
}


.btn-success {
    -fx-background-color: #28a745;
}

.btn-warning {
    -fx-background-color: #ffc107;
    -fx-text-fill: black;
}

.btn-danger {
    -fx-background-color: #dc3545;
}

.btn-primary {
    -fx-background-color: #007bff;
}

.btn-secondary {
    -fx-background-color: #6c757d;
}

.btn-info {
    -fx-background-color: #17a2b8;
}

/*List view couleurs (Double Jaune)*/

/*
.list-view .list-cell:odd {
    -fx-background-color: #fff5a3;
}

.list-view .list-cell:even {
    -fx-background-color: #fff8bd;
}

*/